## Script to fetch disconnected accounts data and append to file

In [1]:
# import libraries
import pandas as pd
import os

### Fetch and clean data from file

In [2]:
# create empty dataframe
disconnections_df = pd.DataFrame(columns = ['disconnectionDate', 'count'])

# read in all files in the disconnected folder
directory = r'../data/raw/disconnected'
for file in os.listdir(directory):
    if file.endswith('.csv'):
        # read in file
        df = pd.read_csv('{directory}/{file}'.format(directory=directory, file=file))
        
        # create column for disconnection date
        df['disconnectionDate'] = df['Date'].str.split(' ').str[0]
        
        # convert the 'Date' column to datetime format
        df['disconnectionDate'] = pd.to_datetime(df['disconnectionDate'])
        
        # change 'Date' column type to string
        df['disconnectionDate'] = df['disconnectionDate'].astype(str)

        # create column for disconnection time
        df['disconnectionTime'] = df['Date'].str.split(' ').str[0]

        # drop 'Date' column
        df = df.drop(columns=['Date'])
        
        # aggregate data by disconnection date
        df = df[['disconnectionDate', 'Address']].groupby('disconnectionDate').count().sort_values(by='disconnectionDate', ascending=True).reset_index()
        
        # rename address column
        df = df.rename(columns={"Address": "count"})
        
        # append data
        disconnections_df = disconnections_df.append(df)
    else:
        pass

## Clean data

In [3]:
# convert disconnections_df dates from string to datetime
disconnections_df['disconnectionDate'] = pd.to_datetime(disconnections_df['disconnectionDate'])

# fill in missing dates with '0' for the count
disconnections_df = disconnections_df.set_index('disconnectionDate').asfreq('D').reset_index().fillna(0)

# fill in missing dates (pre-4/26) with '0' for the count
dates = pd.date_range('2021-01-01', '2021-04-26')
dates_df = pd.DataFrame(dates, columns = ['disconnectionDate'])
dates_df['count'] = 0
disconnections_df = pd.concat([dates_df, disconnections_df]).reset_index(drop=True)

# convert dates back to string
disconnections_df.disconnectionDate = disconnections_df.disconnectionDate.astype(str)

### Export data

In [15]:
disconnections_df.to_json(r'../data/clean/disconnections/all-2021.json', orient="records", date_format='%Y-%m-%d')

## Misc. Aggregating by month & exporting

In [4]:
# sort by month
disconnections_df['month'] = disconnections_df['disconnectionDate'].str.split('-').str[1] + "-01-2021"
disconnections_df['month'] = pd.to_datetime(disconnections_df['month'])
disconnections_df.month = disconnections_df.month.astype(str)
byMonth = disconnections_df.groupby('month').sum().sort_values(by='count', ascending=False).reset_index(drop=False)

In [24]:
byMonth.to_csv('../data/clean/2021-draft-by-month.csv')
# byMonth.to_json(r'../data/clean/disconnections/2021-draft-by-month.json', orient="records", date_format='%Y-%m-%d')

In [5]:
byMonth

         month  count
0   2021-06-01   5023
1   2021-12-01   4666
2   2021-09-01   4577
3   2021-08-01   4304
4   2021-10-01   4280
5   2021-07-01   4239
6   2021-11-01   4030
7   2021-05-01   3205
8   2021-04-01   1107
9   2021-01-01      0
10  2021-02-01      0
11  2021-03-01      0